@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  body {
    @apply bg-black text-zinc-50 min-h-screen;
  }
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-3px);
      opacity: 1;
    }
  }

  .animate-float {
    animation: float 2.5s ease-in-out infinite;
  }
}
