@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  body {
    @apply bg-[#18171c] text-zinc-50 min-h-screen;
    font-family: Arial, sans-serif;
  }
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-3px);
      opacity: 1;
    }
  }

  .animate-float {
    animation: float 2.5s ease-in-out infinite;
  }

  @keyframes rotate-mirror {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-rotate-mirror {
    animation: rotate-mirror 5s cubic-bezier(0.44, 0, 0.56, 1) infinite;
  }

  .gradient-conic-white {
    background: conic-gradient(
      from 0deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }

  .gradient-green-fade {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(87, 196, 126, 0.08) 100%
    );
    backdrop-filter: blur(10px);
  }
}
