@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  body {
    @apply bg-[#18171c] text-zinc-50 min-h-screen;
    font-family: Arial, sans-serif;
  }
}

@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 30s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 30s linear infinite;
  }

  .swiper-continuous-left .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
  }

  .swiper-continuous-right .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-3px);
      opacity: 1;
    }
  }

  .animate-float {
    animation: float 2.5s ease-in-out infinite;
  }

  @keyframes rotate-mirror {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-rotate-mirror {
    animation: rotate-mirror 5s cubic-bezier(0.44, 0, 0.56, 1) infinite;
  }

  .gradient-conic-white {
    background: conic-gradient(
      from 0deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }

  .gradient-green-fade {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(87, 196, 126, 0.08) 100%
    );
    backdrop-filter: blur(10px);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-overflow-3 {
    @apply overflow-hidden text-ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #28272d;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #156327;
  border-radius: 20px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #1d8134;
}

.swiper-wrapper {
  transition-timing-function: linear;
}
